<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.2.js"></script>

<style>
    body {
        background-color: #EEEEEE;
    }
    
    .navHeader {
        background-color: #222324;
        height: 45px;
        width: 100%;
    }
    
    .logo {
        color: white;
        padding-left: 60px;
        padding-top: 10px;
    }
    
    .logoName {
        opacity: 0.6;
        padding-left: 5px;
        color: white;
        font-size: 15px;
    }
    
    .nav-profile {
        background-color: red;
        padding-left: 60px;
        padding-top: 10px;
        width: 50px;
        height: 40px;
    }
    
    .searchForm {
        /*background-color:green;*/
        height: 40px;
        width: 20%;
        margin-left: 65%;
        margin-top: -35px;
    }
    
    .searchInput {
        border: 1px solid;
        border-radius: 2px;
        margin-left: 10px;
        margin-top: 5px;
        padding-top: 10px;
        padding-left: 10px;
        height: 30px;
        width: 90%;
        background: #222324;
    }
    
    .searchInput:focus {
        outline: none;
        color: white;
    }
    
    .inner-addon {
        position: relative;
    }
    
    .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
        color: white;
        opacity: 0.6
    }
    /* align icon */
    
    .right-addon .glyphicon {
        right: 40px;
    }
    /* add padding  */
    
    .searchInput:hover {
        border-color: white;
    }
    /*    
    .glyphicon {
        background-color: red;
        margin-left: 80%;
        margin-top: -10%;
    }*/
    
    .guideLine {
        height: 390px;
        width: 100%;
        background-image: url("views/images/background2.jpg");
        background-size: cover;
        margin-bottom: 40px;
        /*background-size: 100%;*/
        /*-webkit-filter: blur(1px);
        -moz-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);*/
    }
    
    .guideContent {
        padding: 35px 10px;
        width: 450px;
        opacity: 0.6;
        background-color: #30AF8D;
        margin: 0 auto;
        margin-top: 90px;
        border-radius: 2px;
    }
    
    .guideInput {
        height: 60%;
        width: 90%;
        background-color: #30AF8D;
        /*opacity: 0.1;*/
        border: none;
        font-size: 30px;
        /*color:white;*/
        margin-left: 20px;
        transform: translate3d(0px, 0px, 0px);
    }
    
    .guideInput:focus {
        outline: none;
        color;
        white;
    }
    
    ::-webkit-input-placeholder {
        color: white;
    }
    /*.navbar-nav :hover{
        font-size: 18px;
    }*/
    
    ,
    navbar-nav {
        font-color: white;
        /*margin:auto 0;*/
    }
    
    #secretInput {
        width: 100%;
        resize: inherit;
    }
    
    .fa-heart {
        color: #ff6666;
    }
    
    .secret-label,
    .secret-isAnonymous-label,
    .secret-isPublic-label {
        color: floralwhite;
    }
    
    .secret-form-submit {
        background-color: #FF8140;
        border: 1px solid #fbbd9e;
        border-radius: 3px;
        color: white;
        padding: 3px 20px;
    }
    
    .loadMore {
        background-color: red;
        color: black;
        font-size: 15px;
        margin-left: 47%;
        padding-bottom: 30px;
    }
    
    .secret-post {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
    }
    
    .secret-main {
        font-size: 14px;
        line-weight: 1.5;
        padding-right: 15px;
        padding-left: 15px;
        margin-top: 40px;
    }
    
    .panel-body-meta {
        padding: 16px 22px;
        color: #999;
        display: block;
        border-bottom: 1px solid #ededed;
    }
    
    .secret-post-title {
        margin-bottom: 5px;
        font-size: 20px;
        color: #333;
    }
    
    .secret-post-content img {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 10%;
        margin-left: 10px;
    }
    
    .secret-post-user {
        padding-left: 70px;
        color: #4F545B;
    }
    
    .secret-post-specific {
        /*background-color:green;*/
        padding-left: 70px;
        color: #7B7F87;
        margin-right: 10px;
    }
    
    .secret-post-footer {
        width: 140px;
        margin-top: 15px;
        margin-left: 55%;
        padding-bottom: 20px;
    }
    /*.secret-post-footer-reply {
        padding-right: 15px;
    }
    */
    
    .secret-post-footer-time-span {
        color: #7B7F87;
    }
    
    .fa-heart-o {
        color: #7B7F87;
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .fa-reply {
        border-color: #7B7F87;
        color: #7B7F87;
        margin-left: 10px;
    }
    
    .navigate {
        width: 330px;
        height: 45px;
        margin: 130px auto;
        color: green;
    }
    
    .navigate:hover {
        text-decoration: none;
    }
    
    .add-on-choice {
        margin-top: 20px;
    }
    
    .add-on-choice a {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 5px;
        color: white;
    }
    
    .add-on-choice a:hover {
        text-decoration: none;
        color: black;
    }
    /*.add-on-choice i:hover {
        color: black;
    }*/
    
    .panel-secret {
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
        border-radius: 2px;
        position: relative;
    }
    
    .panel-secret:hover {
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    
    .li-style {
        background-color: rgba(0, 0, 0, 0.298039);
        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
        font-weight: 300;
    }
    
    .li-style-font {
        color: white;
    }
    
    .nav li a:hover,
    .nav li a:focus {
        color: #43907B;
    }
    
    .secret-footer {
        background-color: #f9f9f9;
        padding: 40px 0;
        border-top: 1px solid #e5e5e5;
        font-weight: 300;
    }
    
    .secret-post-footer-share {
        color: grey;
    }
    /*.secret-post-footer-share:hover {
        color: grey;
    }*/
    
    .comment-body input {
        width: 100%;
        height: 100px;
    }
    
    .comment-content {
        outline: none;
        resize: none;
        overflow: auto;
        /*border: 1px solid #888;*/
        border-radius: 3px;
        height: 100%;
        width: 100%;
        color: #999;
        font-weight: 400;
        font-size: 18px;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }
    
    .secret-post-comment {
        position: absolute;
        background-color: #66C2A7;
        width: 100%;
        height: 0px;
        z-index: 3;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        overflow: hidden;
        opacity: 0;
    }
    
    .panel-secret:hover .secret-post-comment {
        height: 200px;
        border-radius: 3px;
        opacity: 1;
        overflow-y: scroll;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    }
    
    .secret-post-comment-item {
        border-radius: 2px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 2px;
    }
    
    .secret-post-comment-item img {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 10%;
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .secret-post-comment-user {
        padding-left: 65px;
        padding-top: 15px;
        font-weight: bold;
    }
    
    .secret-post-comment-content {
        margin-top: 10px;
        margin-left: 65px;
    }
    
    .secret-post-comment-no {
        margin-left: 50px;
        margin-top: 20px;
    }
    
    .comment-spinner {
        text-align: center;
        padding-top: 70px;
    }
    
    .navbar-div {
        position: absolute;
        bottom: 0px;
        left: 42%;
    }
    
    .file-display {
        padding: 10px 10px;
    }
    
    .file-display-item {
        position: relative;
        display: inline-block;
        height: 100px;
        width: 100px;
        overflow: hidden;
        margin: 5px;
    }
    
    .file-display-item a {
        position: absolute;
        right: 3px;
        top: 1px;
        color: #EEEEEE;
        cursor: pointer;
    }
    
    .file-display-item:hover .file-display-cover {
        opacity: 1;
    }
    
    .file-display-cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        opacity: 0;
        transition: all 0.3s;
    }
</style>

<body>
    <!--<div class="container">-->
    <div class="navHeader col-sm-12">
        <div>
            <!--LogoName and Logo -->
            <div class="logo col-sm-4">
                <img src="" alt="brand">
                <a href="#" class="logoName">Himitsu</a>
            </div>

            <!--Search Form -->
            <div class="searchForm inner-addon right-addon col-sm-5">
                <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                <input type="text" class="searchInput">
            </div>



            <!--User Infor small avator -->
            <!--<div class="nav-profile col-sm-3">
                    <img alt="profile">
                    <i class="glyphicon glyphicon-triangle-bottom"></i>
                </div>-->
        </div>
    </div>


    <div class="guideLine col-sm-12">

        <div class="guideContent">
            <span ng-model="secretOne.username"></span>



            <input type="text" class="guideInput" placeholder="What's on your mind?" ng-model="secretOne.content">
            <div class="file-display">
                <div ng-repeat="item in uploader.queue" class="file-display-item">
                    <div class="file-display-cover">
                        <a ng-click="item.remove()"><i class="fa fa-close"></i></a>
                    </div>
                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100, width: 100 }">
                    </div>
                </div>

            </div>
            <div class="add-on-choice">
                <a for="file-choose" onclick="document.getElementById('file-choose').click()"><i class="fa fa-camera"> </i> Add Photo</a>
                <input type="file" nv-file-select uploader="uploader" id="file-choose" ng-hide="true" />

                <table ng-if="false">
                    <tr ng-repeat="item in uploader.queue">
                        <td>
                            <strong>{{ item.file.name }}</strong>
                            <!-- Image preview -->
                            <!--auto height-->
                            <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                            <!--auto width-->
                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                            <!--fixed width and height -->
                            <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                        </td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                        </td>
                    </tr>
                </table>
                <!--<a><i class="fa fa-video-camera"> </i> Add Video</a>-->
                <a ng-click="createSecret()"><i class="fa fa-send" > </i> Send</a>
            </div>


        </div>


        <div class="navbar-div">
            <ul class="nav navbar-nav li-style">
                <li class="li-style-back"><a ui-sref="secret" class="hvr-underline-from-left li-style-font">All POSTS</a></li>
                <li class="li-style-back"><a ui-sref="login" class="hvr-underline-from-left li-style-font">SECRET</a></li>
                <li class="li-style-back"><a ui-sref="login" class="hvr-underline-from-left li-style-font">ABOUT</a></li>
            </ul>
        </div>

    </div>


    <div class="container">
        <div class=" secret-main col-sm-12">
            <div class="row">
                <div class="col-sm-4" ng-repeat="secret in secretData">
                    <section class="secret-post">
                        <div class="panel panel-default panel-secret" ng-mouseover="getCommentList(secret)">
                            <div class="panel-body">
                                <div class="secret-post-content">
                                    <img src="http://tva3.sinaimg.cn/crop.0.0.750.750.180/9f80aa3djw8f09ehiq5qdj20ku0kudgj.jpg" class="img-responsive">
                                    <div class="secret-post-user">
                                        <p>{{secret.owner.firstName}}</p>

                                    </div>
                                    <div class="secret-post-specific">
                                        <p>{{secret.content}}</p>
                                    </div>

                                </div>

                            </div>

                            <div class="secret-post-specific-image">
                                <img class="img-responsive" src="views/images/background2.jpg">
                            </div>

                            <div class="secret-post-footer" ng-repeat="comment in commentData">
                                <p>{{comment.content}}</p>
                            </div>

                            <div class="secret-post-footer">

                                <!--<div ng-controller="CommentInstanceCtrl">-->
                                <!--<script type="text/ng-template" id="commentContent.html">
                                        <div class="modal-header">
                                            <h3 class="modal-title">{{secret.content}}</h3>
                                        </div>
                                        <div class="modal-body">
                                            <textarea class="comment-content" placeholder="enter optional message" ng-model="commentData.content"></textarea>
                                            <p ng-model="commentData.owner"></p>                                    
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                                            <button class="btn btn-primary" type="button" ng-click="commentSubmit()">Comment</button>
                                        </div>
                                    </script>-->

                                <a class="secret-post-footer-share" ng-click="showCommentModal(secret)"><i class="fa fa-comment"></i></a>

                                <a class="secret-post-footer-like"><i class="fa fa-heart-o"></i></a>
                                <span class="secret-post-footer-time-span">{{secret.createdAt | date:'MM-dd'}}</span>
                            </div>
                        </div>

                        <div class="secret-post-comment">
                            <div ng-show="secret.comments && secret.comments.length == 0" class="secret-post-comment-no">
                                no comments yet!
                            </div>

                            <div class="secret-post-comment-item" ng-repeat="comment in secret.comments">
                                <img src="http://tva3.sinaimg.cn/crop.0.0.750.750.180/9f80aa3djw8f09ehiq5qdj20ku0kudgj.jpg" class="img-responsive">
                                <div class="secret-post-comment-user">
                                    <span>{{comment.owner.lastName}}</span>
                                </div>

                                <div class="secret-post-comment-content">
                                    <p>{{comment.content}}</p>
                                </div>
                            </div>


                            <div ng-show="!secret.comments" class="comment-spinner">
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                            </div>
                        </div>
                </div>
                </section>
            </div>
        </div>
    </div>
    </div>

    <footer class="secret-footer">
        <div id="links">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <i class="">Icon Brand</i>
                    </div>

                    <div class="col-sm-8 text-center offset">
                        <ul class="list-inline">
                            <li>
                                <a ui-sref="secret">Home</a>
                            </li>
                            <li>
                                <a ui-sref="secret">Secret</a>
                            </li>
                            <li>
                                <a ui-sref="secret">About</a>
                            </li>
                            <li>
                                <a ui-sref="secret">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-2 text-right offset">
                        <ul class="list-inline">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </footer>

</body>

<!--<script>
    $(document).ready(function () {
        $("#secretImage").change(function (e) {
            var file = e.originalEvent.srcElement.files[0];
            var img = document.createElement("img");
            var reader = new FileReader();
            //                reader.onloadend = function () {
            //                    img.src = reader.result;
            //                }
            reader.onload = function (e) {
                $("#avatarSetting").show().attr('src', e.target.result);
            }
            reader.readAsDataURL(file);
            $("#personalImage").after(img);
        });



    })

</script>-->